@page
@model pdftest.Pages.ChangePassword
@using System.Security.Claims

<div>
    <form method="post" asp-page-handler="ChangePassword">
        <fieldset>
            <legend class="title">Смени парола</legend>
            <div>
                <label for="old-password">Въведете старата парола: </label>
                <input type="password" id="old-password" name="oldPassword" required />
            </div>
            <hr/>
            <div>
                <label for="new-password">Въведете нова парола: </label>
                <input type="password" id="new-password" name="newPassword" required />
            </div>
            <div>
                <label for="confirm-new-password">Потвърдете новата парола: </label>
                <input type="password" id="confirm-new-password" name="confirmNewPassword" required />
            </div>
            <p>@Model.ErrorMessage</p>
            <div class="change-pass-button">
                <button class="password-button">
                    Промени паролата
                </button>
            </div>
        </fieldset>
    </form>
</div>