@page
@model pdftest.Pages.CreditsModel
@using System.Security.Claims;

<h1>Източници</h1>
<table>
    <tr>
        <td>
            <img src="/images/questions.png" width="40px"/>
        </td>
        <td>
            <a href="https://www.flaticon.com/free-icons/question" title="question icons">Question icons created by Freepik - Flaticon</a>
        </td>
    </tr>
    <tr>
        <td>
            <img src="/images/profession.png" width="40px" height="40px"/>
        </td>
        <td>
            <a href="https://www.flaticon.com/free-icons/pdf" title="pdf icons">Pdf icons created by Those Icons - Flaticon</a>
        </td>
    </tr>
    <tr>
        <td>
            <img src="/images/names.png" width="40px" height="40px" />
        </td>
        <td>
            <a href="https://www.flaticon.com/free-icons/businessman" title="businessman icons">Businessman icons created by Freepik - Flaticon</a>
        </td>
    </tr>
    <tr>
        <td>
            <img src="/images/email.png" width="40px" height="40px" />
        </td>
        <td>
            <a href="https://www.flaticon.com/free-icons/card" title="card icons">Card icons created by Pixel perfect - Flaticon</a>
        </td>
    </tr>
    <tr>
        <td>
            <img src="/images/admin.png" width="40px" height="40px" />
        </td>
        <td>
            <a href="https://www.flaticon.com/free-icons/email" title="email icons">Email icons created by Uniconlabs - Flaticon</a>
        </td>
    </tr>
    <tr>
        <td>
            <img src="/images/info.png" width="40px" height="40px" />
        </td>
        <td>
            <a href="https://www.flaticon.com/free-icons/setting" title="setting icons">Setting icons created by Tanah Basah - Flaticon</a>
        </td>
    </tr>
    <tr>
        <td>
            <img src="/images/setting.png" width="40px" height="40px" />
        </td>
        <td>
            <a href="https://www.flaticon.com/free-icons/setting" title="setting icons">Setting icons created by Tanah Basah - Flaticon</a>
        </td>
    </tr>
    <tr>
        <td>
            <img src="/images/pdf.png" width="40px" height="40px" />
        </td>
        <td>
            <a href="https://www.flaticon.com/free-icons/pdf" title="pdf icons">Pdf icons created by Those Icons - Flaticon</a>
        </td>
</table>

<style>
    h1{
        text-align: center;
    }
</style>